@model VivoMais.Models.PrincipalViewModel

<script type="text/javascript">
    function RejeitaSenha(Id) {
        if (confirm("Tem certeza que deseja continuar? O Login e a Senha será recusado.")) {
            $("#loading").show();

            $.ajax({
                type: 'POST',
                url: '/Principal/RecusarSenhaAcesso',
                dataType: 'json',
                data: { Id: Id },

                success: function (returnValue) {
                    alert("Login's recusados com sucesso!");
                    window.location.href = '/Principal/Index';
                    $('#loading').hide();
                },
                failure: function (returnValue) {
                    $('#loading').hide();
                },
                error: function (ex) {
                    alert('Ocorreu um erro ao tentar processar sua solicitação.' + ex);
                    $('#loading').hide();
                }
            });
        }
    }

    function AceitaSenha(Id) {
       
            $("#loading").show();

            $.ajax({
                type: 'POST',
                url: '/Principal/AceitarSenhaAcesso',
                dataType: 'json',
                data: { Id: Id },

                success: function (returnValue) {
                    alert("Login's liberados.");
                    window.location.href = '/Principal/Index';
                    $('#loading').hide();
                },
                failure: function (returnValue) {
                    $('#loading').hide();
                },
                error: function (ex) {
                    alert('Ocorreu um erro ao tentar processar sua solicitação.' + ex);
                    $('#loading').hide();
                }
            });
    }
</script>



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Acessos Liberados</h4>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action" id="TableToken">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Nome </th>
                                <th class="column-title">Perfil </th>
                                <th class="column-title">Função </th>
                                <th class="column-title">Login </th>
                                <th class="column-title">Senha </th>
                                <th class="column-title">Aceitar </th>
                                <th class="column-title">Recusar </th>
                            </tr>
                        </thead>

                        <tbody>

                            @if (Model != null)
                            {
                                foreach (VivoMais.Repositorio.Entidades.AcessoTerceiros Acesso in Model.SenhaLiberada)
                                {
                                    <tr class="even pointer">
                                        <td>@Acesso.Nome</td>
                                        <td>@Acesso.Perfil</td>
                                        <td>@Acesso.Funcao</td>
                                        <td>@Acesso.Login</td>
                                        <td>@Acesso.Senha</td>
                                        <td><input type="image" src="~/Imagens/Icones/Aceitar.ico" onclick="AceitaSenha(@Acesso.Id);" style="margin-left: 30%;" width="28" height="28"></td>
                                        <td><input type="image" src="~/Imagens/Icones/Negar.ico" onclick="RejeitaSenha(@Acesso.Id);" style="margin-left:30%;" width="28" height="28"></td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

